{
  "presets": ["react-native"],
  "plugins": [
    ["module-alias", [
      { "src": "./lib/packages/credit-protocol", "expose": "credit-protocol" },
      { "src": "./lib/packages/language/en", "expose": "language" },
      { "src": "./lib/packages/lndr", "expose": "lndr" },
      { "src": "./lib/packages/theme", "expose": "theme" },
      { "src": "./lib/packages/dimen", "expose": "dimen" },
      { "src": "./lib/packages/ui", "expose": "ui" },
      { "src": "./packages/images", "expose": "images" }
    ]]
  ]
}
