{
  "ignore": [
    "**/__tests__"
  ],
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./lib/packages"],
      "alias": {
        "images": "./packages/images"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
