developmentAppKey = <%= urbanAirshipDevAppKey %>
developmentAppSecret = <%= urbanAirshipDevAppSecret %>

productionAppKey = <%= urbanAirshipProdAppKey %>
productionAppSecret = <%= urbanAirshipProdAppSecret %>

# Toggles between the development and production app credentials
# Before submitting your application to an app store set to true
inProduction = false

# LogLevel is "VERBOSE", "DEBUG", "INFO", "WARN", "ERROR" or "ASSERT"
developmentLogLevel = DEBUG
productionLogLevel = ERROR

# FCM/GCM Sender ID
gcmSender = <%= gcmSenderID %>
